<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="userDAO"
          class="com.example.implementation.dao.UserDAO"/>

    <bean id="eventDAO"
          class="com.example.implementation.dao.EventDAO"/>

    <bean id="ticketDAO"
          class="com.example.implementation.dao.TicketDAO"/>

    <bean id="userService"
          class="com.example.implementation.services.UserServiceImpl">
        <constructor-arg ref="userDAO"/>
    </bean>

    <bean id="eventService"
          class="com.example.implementation.services.EventServiceImpl">
        <constructor-arg ref="eventDAO"/>
    </bean>

    <bean id="ticketService"
          class="com.example.implementation.services.TicketServiceImpl">
        <constructor-arg ref="ticketDAO"/>
    </bean>

    <bean id="storage"
          class="com.example.implementation.Storage"
          init-method="initStorage">
        <property name="dataFilePath"
                  value="${data.file.path}"/>
    </bean>
</beans>
